* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #201e1e;
}

/* Fix header height on mobile */
header {
  background-color: #7f0920;
  position: fixed;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  height: 38vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 360px) and (min-height: 740px) {
  header {
    height: 14vh;
  }
}

#appTitle {
  margin: 0;
  font-family: 'Staatliches', sans-serif;
  font-size: 4em;
}

#genreForm,
#playBtn {
  margin: 0 auto;
  display: block;
  font-family: 'Fredoka One', sans-serif;
  font-size: 1em;
}

#playBtn {
  margin-top: 20px;
  font-size: 25px;
  padding: 7px 10px;
  border-radius: 10px;
  border-style: none;
  background-color: #b97828;
  color: #fdc238;
  cursor: pointer;
}

#playBtn:active {
  transform: scale(0.98);
}

#playBtn:focus {
  outline: 0;
  box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.3);
}

label {
  display: block;
  font-size: 35px;
  margin-bottom: 5px;
}

select {
  width: 200px;
  height: auto;
  padding: 5px 5px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  text-align: center;
}

select:focus {
  outline: 0;
  border: #b97828 3px solid;
}

#likedOrDislikedTabs {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -16px;
  text-align: center;
}

/* For Samsung S8 but not working */
@media (min-width: 360px) and (min-height: 740px) {
  #likedOrDislikedTabs {
    top: 16px;
  }
}

/* For Samsung Galaxy S20 and Iphone 12 */
@media (min-width: 390px) and (min-height: 844px) {
  #likedOrDislikedTabs {
    top: 35px;
  }
}

#likedOrDislikedTabs button {
  display: inline-block;
  background-color: #201e1e;
  color: #fefbea;
  border: none;
  border-radius: 8px 8px 0px 0px;
  padding: 10px 15px 3px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.container {
  background-color: #201e1e;
  position: absolute;
  margin-top: 38vh;
  z-index: 0;
  width: 100%;
  padding-bottom: 50px;
}

@media (min-width: 360px) and (min-height: 740px) {
  .container {
    margin-top: 14vh;
  }
}

#results {
  display: block;
}

#movieInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 700px;
  margin: 32px auto;
}

img#moviePoster {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

@media (min-width: 715px) {
  img#moviePoster {
    width: 100%;
  }
}

#moviePoster {
  flex: 1 0 300px;
}

#movieText {
  font-family: 'Questrial';
  color: #fefbea;
  line-height: 1.25;
  flex: 1 0 400px;
  padding: 0 25px;
  text-align: justify;
}

#movieTitle,
#movieOverview {
  padding: 18px;
}

#movieTitle {
  text-align: left;
}

#likeOrDislikeBtns {
  text-align: center;
  margin: 0px auto;
}

#likeBtn,
#dislikeBtn {
  padding: 15px 25px;
  font-size: 25px;
  border-radius: 12px;
  border-style: none;
  cursor: pointer;
}

#likeBtn {
  background-color: #249e57;
  color: darkgreen;
}

#dislikeBtn {
  background-color: #c74a4a;
  color: #910000;
}

#feedback {
  display: none;
  color: #fefbea;
}
