* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #201e1e;
}

header {
  background-color: #7f0920;
  position: fixed;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  height: 38vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 360px) and (min-height: 740px) {
  header {
    height: 14vh;
  }
}

#appTitle {
  margin: 0;
  font-family: 'Staatliches', sans-serif;
  font-size: 4em;
}

#genreForm,
#playBtn {
  margin: 0 auto;
  display: block;
  font-family: 'Fredoka One', sans-serif;
  font-size: 1em;
}

#playBtn {
  margin-top: 20px;
  font-size: 25px;
  padding: 7px 10px;
  border-radius: 10px;
  border-style: none;
  background-color: #b97828;
  color: #fdc238;
  cursor: pointer;
}

#playBtn:active {
  transform: scale(0.98);
}

#playBtn:focus {
  outline: 0;
  box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.3);
}

label {
  display: block;
  font-size: 35px;
  margin-bottom: 5px;
}

select {
  width: 200px;
  height: auto;
  padding: 5px 5px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  text-align: center;
}

select:focus {
  outline: 0;
  border: #b97828 3px solid;
}

.container {
  background-color: #201e1e;
  position: absolute;
  margin-top: 38vh;
  z-index: 0;
  width: 100%;
  padding-bottom: 50px;
}

@media (min-width: 360px) and (min-height: 740px) {
  .container {
    margin-top: 14vh;
  }
}

#results {
  display: block;
}

#movieInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 700px;
  margin: 32px auto;
}

img#moviePoster {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

@media (min-width: 715px) {
  img#moviePoster {
    width: 100%;
  }
}

#moviePoster {
  flex: 1 0 300px;
}

#movieText {
  font-family: 'Questrial';
  color: #fefbea;
  line-height: 1.25;
  flex: 1 0 400px;
  padding: 0 25px;
  text-align: justify;
}

#movieTitle,
#movieOverview {
  padding: 18px;
}

#movieTitle {
  text-align: left;
}

#likeOrDislikeBtns {
  text-align: center;
  margin: 0px auto;
}

#likeBtn,
#dislikeBtn {
  padding: 15px 25px;
  font-size: 25px;
  border-radius: 12px;
  border-style: none;
  cursor: pointer;
}

#likeBtn {
  background-color: #249e57;
  color: darkgreen;
}

#dislikeBtn {
  background-color: #c74a4a;
  color: #910000;
}

#starBtn {
  position: fixed;
  top: 50px;
  left: 0px;
  z-index: 2;
  padding: 5px 15px;
  font-size: 25px;
  border-radius: 0 5px 5px 0;
  border-style: none;
  cursor: pointer;
  color: #fdc238;
  background-color: #201e1e;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.325);
}

.overlay.enabled {
  display: initial;
}

.sideBar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 30%;
  min-width: 220px;
  height: 100vh;
  border: none;
  background-color: #201e1e;
  color: #fefbea;
  padding: 20px;
  line-height: 1.7;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sideBar .visible {
  transform: translateX(0);
}

#closeBtn {
  position: absolute;
  opacity: 0.5;
  top: 30px;
  right: 30px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.sideBar ul {
  list-style-type: none;
  margin-bottom: 20px;
}
